body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Opcional: para uma cor de fundo leve */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#container {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fff; /* Opcional: cor de fundo para destacar o container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra leve para o container */
}

#tela {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
